$size: 26px;

.container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  canvas {
    display: block;
  }
}

.thumb {
  position: absolute;
  transform: translate(-50%, -50%);
  width: $size;
  height: $size;
  background: white;
  border: 2px solid black;
  border-radius: 50%;
}